<!DOCTYPE html>
<html>
<head>
    <title> my first angular</title>
    <link href="style.css" rel="stylesheet" type="text/css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js">
    </script>
    <script src="calculator.js"></script>
</head>
<body ng-app="mycalculator" ng-controller="mycalccontrol">
<center><div><h1>{{demo}}</h1><hr></hr></div><br><br>
</center>
<div>
        Enter Expression <input type="text" name="letter" ng-model="input.letter">
        <button ng-click="res()">Submit</button>
        <br><br>
        <div> result : {{result}}</div><br>
    </div></body>
</html>