<h3 style="background-color: darkcyan;"><hr></hr><b>Student Registration</b><hr></hr></h3>
<form autocomplete="off" action="/insertuser" method="POST">
    Usn/Reg-no :<input type="text" name="sreg" placeholder="Reg-no"><br><br>
    Name :<input type="text" name="sname" placeholder="UserName"><br><br>
    date of birth :<input type="date" name="sdob" placeholder="yyyy-mm-dd"><br><br>
    Gender:<select name="sgender">
         <option value=" "> </option>
        <option value="Male">Male </option>
        <option value="Female">Female </option>
    </select><br><br>

    Email:<input type="email" name="semail" placeholder="Useremail"><br><br>
    Country:<select name="scountry">
        <option value=" "> </option>
        <option value="India">India </option>
        <option value="America">America </option>
        <option value="Austrialia">Austrialia </option>
        <option value="England">England </option>
    </select>
    State:<select name="sstate">
        <option value=" "> </option>
        <option value="Karnataka">Karnataka </option>
        <option value="Maharastra">Maharastra </option>
        <option value="tamil nadu">tamil nadu</option>
        <option value="Goa">Goa </option>
        <option value="kerala">kerala</option> </option>
        <option value="Andra">Andra</option>
        <option value="Orissa">Orissa</option>
        <option value="Bihar">Bihar </option>
    </select><br><br>
    District:<select name="sdistrict">
        <option value=" "> </option>
        <option value="Bangaluru">Bangaluru </option>
        <option value="Tumkuru">Tumkuru </option>
        <option value="Mysore">Mysore </option>
        <option value="gadag">gadag </option>
    </select>
    post:<input type="number" name="spostal" placeholder="postal-pin"><br><br>
    Password<input type="password" name="spasswd">
    Retype password<input type="password" name="srpasswd"><br><br>
    <input type="hidden" name="flg" value="0"><br><br>
    <input type="submit">
    
</form>
 